body {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f2f2f2;
}
.App {
  height: 100vh;
  width: 100%;
}
.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 20px 20px;
  height: 50vh;
}

.container-small {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 5;
  padding: 15px;
}

.control-section {
  height: 30vh;
  width: 100%;

  padding: 0px 12px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  justify-content: center;
}
.control-section div {
  margin-right: 4px;
}

.bars {
  height: 100%;
}
.slider-header {
  font-weight: 500;
  text-align: left;
}
.barsCard {
  background-color: #fff;
  border-radius: 1px;
  box-shadow: 0 5px 15px 0px #ddd;
  width: 100%;
  height: 50vh;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 15px 0px #ddd;
  padding: 10px;
}
.sliders {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.slider {
  width: 180px;
  margin: 0px 20px;
}

@media (min-width: 700px) {
  .control-section {
    height: 30vh;
    width: 70%;
    margin: auto;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    justify-content: center;
  }

  .card {
    background-color: #f2f2f2;
    border-radius: 0;
    box-shadow: none;
    padding: 10px;
  }

  .slider {
    width: 300px;
    margin: 0px 20px;
  }
}
